<div class="wrapper-sidebar">
  <div class="box1">
    <h1></h1>
    <div class="box2"><img src="../images/avatar.jpg" alt="avatar" style="width:100%; height:auto;margin: auto;"/></div>
    
    <h1></h1>
    <h1></h1>
    
    <h1 align="center" class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
    <p align="center" class="site-description">{{ site.description }}</p>
  </div>
  <style type="text/css">
    div.box1{
      margin: auto;
      width: 90%;
      height: auto;
    }
    div.box2{
      display: block;
      margin:auto;
      width: 80%;
      height: auto;
    }
  </style>

  <div class="navlist">
    <nav>
      {% for nav in site.navigation %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
      <a href="{{ nav.url }}">{{ nav.name }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>

  <div class="wrapper-footer-desktop">
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </div>
</div>